# Backend environment variables
# Copy this to .env and fill in your values

GOOGLE_CLOUD_PROJECT=model-choir-436813-m8
GOOGLE_APPLICATION_CREDENTIALS=model-choir-436813-m8-b86cfdc682b0.json
VERTEX_LOCATION=us-central1
GEMINI_MODEL_VISION=gemini-2.5-pro-preview-06-05

PORT=8004
ENV=development
